@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@500');

body {
    margin: 0;
}

.first-block {
    background-color: #4e4d93;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 0px;
    border-color: white;
    position: relative;
    width: 100%;
    height: 100vh;
}

.use-the-styles {
    position: absolute;
    font-family: 'Clash Display', sans-serif;
    line-height: normal;
    left: 47px;
    font-style: normal;
    font-size: 24px;
    color: white;
    top: 37px;
}

.styles-in-figma {
    position: absolute;
    font-family: 'Satoshi', sans-serif;
    line-height: 1.5;
    left: 47px;
    font-style: normal;
    font-size: 16px;
    color: white;
    top: 83px;
    width: 716px;
    white-space: pre-wrap;
}

.styles-in-figma p {
    margin-bottom: 0;
}

.screenshot-1 {
    position: absolute;
    height: 310px;
    left: 298px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 251px;
    width: 226px;
}

.screenshot-1 img, .screenshot-2 img, .screenshot-3 img {
    position: absolute;
    inset: 0;
    max-width: none;
    object-position: 50% 50%;
    object-fit: cover;
    pointer-events: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 100%;
}

.screenshot-2 {
    position: absolute;
    height: 220px;
    left: 36px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 296px;
    width: 234px;
}

.screenshot-3 {
    position: absolute;
    height: 245px;
    left: 552px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 296px;
    width: 236px;
}
